body{
    background-color: black;
    height: 900px;
}
.cont{
    display: flex;
    width: 100%;
}
#cont0{
    background: linear-gradient(to right top, rgb(255, 155, 118), rgb(255, 73, 18));
    height: 950px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: column;
}
h1{
    font-family: "Seymour One", sans-serif;
    font-size: 40px;
    font-style: normal;
}
.link{
    margin-top: 60px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 23px;
    font-style: normal;
    color: black;
}
#link1{
    margin-top: 30px;
}