body{
    background-color: black;
    height: 900px;
}
.cont{
    display: flex;
    width: 100%;
}
#cont0{
    background: linear-gradient(to right top, rgb(255, 155, 118), rgb(255, 73, 18));
    height: 950px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: column;
}
h1{
    font-family: "Kanit", sans-serif;
    font-size: 80px;
    font-style: normal;
    color: black;
}