.cont{
    border: solid 2px red;
    display: flex;
}
#cont0{
    flex-wrap: wrap;
    width: 100%; 
    height: 1300px;
    height: 1300px;
    background: linear-gradient(to right top, rgb(255, 92, 32), rgb(27, 27, 27));
 }
#cont1 {
    width: 100%;
    height: 70px;
    background-color: rgb(31, 31, 31);
}
#cont2{
    margin-left: 500px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#cont3{
    width: 100%;
    margin-top: -450px;
}
.title{
    font-family: "Sigmar", serif;
    font-weight: 100px;
    font-style: normal;
}
#t1{
    margin-top: 5px;
    margin-left:  100px;
    justify-content: left;
    align-items: start;
    color: rgb(255, 92, 32);
}
#t2{
    font-family: "Sigmar", serif;
    font-size: 23px;
    font-style: normal;
    color: rgb(31, 31, 31) ;
    margin-left: 2px;
}

#img1{
    margin-right: -100px;
    margin-left: 60px;
    margin-top: 10px;
}
body{
    background-color: rgb(31, 31, 31);
}
.link_up{
    color: rgb(255, 92, 32);
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 23px;
    font-style: normal;
}
