.cont{
    display: flex;
}
#cont0{
    flex-wrap: wrap;
    width: 100%; 
    height: 950px;
    background: linear-gradient(to right top, rgb(255, 155, 118), rgb(255, 73, 18));
 }
#cont1 {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
}
#cont2{
    margin-left: 500px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#cont3{
    height: 275px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
#cont4{
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
    height: 300px;
    width: 100%;
}
.title{
    font-family: "Kanit", sans-serif;
    font-weight: 100px;
    font-style: normal;
}
#t1{
    margin-top: 5px;
    margin-left:  100px;
    justify-content: left;
    align-items: start;
    color: rgb(255, 92, 32);
}
#t2, #t3, #t4, #t5{
    color: rgb(0, 0, 0);
}
#t3{
    margin-top: -25px;
}
#t4, #t5{
    margin-top: -10px;
    font-size: 20px;
}
#t4{
    margin-top: 1px;
}
body{
    background-color: rgb(0, 0, 0);
    height: 900px;
}
.link_up{
    color: rgb(255, 92, 32);
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 23px;
    font-style: normal;
}
.text_big{
    font-size: 45px;
    font-family: "Seymour One", sans-serif;
    font-style: normal;
}
button{
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 50px;
    border: none;
    height: 75px;
    width: 200px;
    color: black;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-family: "Seymour One", sans-serif;
    font-style: normal;
}
#but1{
    background: linear-gradient(to right top,rgb(255, 202, 183), rgb(255, 69, 12));
}
#but2{
    background: linear-gradient(to bottom left,rgb(255, 202, 183), rgb(255, 69, 12));
}
@media only screen and (max-width : 768px) {
    .cont{
        display: flex;
        flex-wrap: wrap;
    }
    #cont0{
        flex-wrap: wrap;
        width: 320px; 
        height: 400px;
        background: linear-gradient(to right top, rgb(255, 155, 118), rgb(255, 73, 18));
        justify-content: center;
        
     }
    #cont1 {
        justify-content: center;
        width: 320px;
        height: 35px;
        background-color: rgb(0, 0, 0);
    }
    #cont2{
        background-color: black;
        margin-top: 4px;
        margin-left: 0px;
        width: 320px;
        justify-content: space-around;
        align-items: center;
    }
    #cont3{
        height: 150px;
        width: 320px;
        margin-top: 50px;
        margin-bottom: 0px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #cont4{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 250px;
        height: 150px;
        width: 150px;
    }
    .title{
        font-family: "Kanit", sans-serif;
        font-weight: 20px;
        font-style: normal;
    }
    #t1{
        font-size: 13px;
        margin-top: 2px;
        margin-left:  25px;
        justify-content: left;
        align-items: start;
        color: rgb(255, 92, 32);
    }
    #t2, #t3, #t4, #t5{
        color: rgb(0, 0, 0);
    }
    #t3{
        margin-top: 10px;
    }
    #t4, #t5{
        margin-top: -10px;
        font-size: 10px;
    }
    #t4{
        margin-top: 1px;
    }
    body{
        width: 320px;
        background-color: rgb(0, 0, 0);
        height: 400px;
    }
    .link_up{
        color: rgb(255, 92, 32);
        text-decoration: none;
        font-family: "Kanit", sans-serif;
        font-size: 10px;
        font-style: normal;
    }
    .text_big{
        font-size: 13px;
        font-family: "Seymour One", sans-serif;
        font-style: normal;
    }
    button{
        font-size: 13px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 25px;
        border: none;
        height: 25px;
    }
}